a,
body,
button,
div,
html,
input,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a,
button,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

*,
::after,
::before {
    box-sizing: inherit;
}

html {
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color:rgba(0, 35, 62, 0.8);
}

html::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.6);
}
html::-webkit-scrollbar-thumb:hover {
    background: rgb(255 255 255);
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.app {
    position: relative;
    min-height: calc(100vh - 70px);
}

.app > .background {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,35,62);
    background-image: url("../images/logo_movions.svg");
    background-size: 100vw;
    background-position: center;
}

.app {
    height: calc(100vh - 178px);
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.content {
    margin: 80px 0;
}
@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}
