.card-element {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 7px 3px rgb(0 0 0 / 30%);
    cursor: pointer;
    margin: 10px 0;
    padding: 20px;
    transition: opacity 200ms, transform 200ms;
}
.movie-collection:hover .card-element {
    opacity: 0.7;
}
.movie-collection .card-element:hover {
    opacity: 1;
    transform: scale(1.04);
}
.card-element.open,
.card-element.open:hover,
.movie-collection:hover .card-element.open {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.3);
    border-radius: 0;
    opacity: 1;
    transform: scale(1);
    height: calc(100vh - 140px);
    width: calc(100vw - 10px);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 100;
}

.card-content.open {
    background-color: rgb(255,255,255);
    border-radius: 5px;
    cursor: auto;
    padding: 20px;
    width: 50vw;
}

.card-element h1 {
    border-bottom: 1px solid black;
    margin-top: 0;
    padding-bottom: 10px;
    text-align: center;
}

.card-element img {
    max-height: 500px;
}

.card-element p {
    border-top: 1px solid black;
    margin-bottom: 0;
    padding-top: 10px;
}
@media screen and (min-width: 1024px) {
    .card-element {
        margin: 10px;
        width: 43.75%;
    }
}
