.companies .header h2:nth-child(1),
.companies .row div:nth-child(1){
    width: 10%;
}
.companies .header h2:nth-child(2),
.companies .row div:nth-child(2){
    width: 40%;
}
.companies .header h2:nth-child(3),
.companies .row div:nth-child(3){
    width: 30%;
}
.companies .header h2:nth-child(4),
.companies .row div:nth-child(4){
    width: 20%;
}

@media screen and (max-width: 1023px) {
    .companies{
        border-radius: 0 !important;
        margin-top: 9rem;
        margin-bottom: 5rem;
    }
    .sub-nav-container{
        border-radius: 0;
    }
}