.navbar-options a {
    cursor: pointer;
    color: white;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    padding: 1rem 0.75rem;
    position: relative;
    transition: all 150ms;
}
.navbar-options:hover a {
    color: rgba(255,255,255,.5);
}
.navbar-options a:hover {
    color: white;
}
@media screen and (min-width: 1024px) {
    .navbar-options {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: auto;
    }
    .navbar-options a {
        align-items: center;
        display: flex;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
    }
    .navbar-options a.selected {
        border-bottom-color: white;
        margin: 0 0.75rem;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 1023px) {
    .navbar-options {
        background-color: rgb(0,35,62);
        border: 5px solid rgb(0,35,62);
        border-top: 0;
    }
    .navbar-options a {
        background: rgb(0, 83, 134);
        border-radius: 3px;
        margin-top: 5px;
        text-align: center;
    }
    .navbar-options a:first-child {
        margin-top: 0;
    }
    .navbar-options a.selected {
        font-weight: 500;
    }
}