.navbar {
    border-bottom: 1px solid black;
    box-shadow: 0 5px 5px 1px rgb(10 10 10 / 30%);
    min-height: 70px;
    position: fixed;
    top: 0;
    z-index: 30;
    width: 100vw;
    z-index: 9999;
}
.navbar .background {
    background: linear-gradient(180deg, rgba(1,87,155,1) 0%, rgba(0,35,62,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
}
.navbar-brand {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 70px;
}
.navbar-brand a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
    height: 70px;
    padding: 0 10px;
}
.navbar-brand a img {
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
}
.navbar-menu {
    display: none;
}
@media screen and (min-width: 1024px) {
    .container {
        align-items: stretch;
        display: flex;
    }
    .navbar-menu {
        align-items: stretch;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: -.75rem;
    }
}
@media screen and (max-width: 1023px) {
    .navbar-menu.is-active {
        display: block;
    }
}
